@font-face { font-style:normal; font-weight:normal; font-family:fnt2; src:url("./mysql_fnt2.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt0; src:url("./mysql_fnt0.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt1; src:url("./mysql_fnt1.otf") format("opentype"); }
@font-face { font-style:normal; font-weight:normal; font-family:fnt3; src:url("./mysql_fnt3.otf") format("opentype"); }
